[Unit]
Description=librespot
After=network.target

[Service]
ExecStart={PATH_TO_LIBRESPOT_EXEC} --name SandBox -u "{SPOTIFY-USERNAME}" -p "{SPOTIFY-PASSWORD}"
WorkingDirectory={LIBRESPOT_EXEC_DIR}
StandardOutput=inherit
StandardError=inherit
Restart=always
User=check

[Install]
WantedBy=multi-user.target
