[Unit]
Description=librespot
After=network.target

[Service]
ExecStart=/opt/sandbox/librespot --name SandBox -u "{spotify_username:}" -p "{spotify_password:}"
WorkingDirectory=/opt/sandbox
StandardOutput=inherit
StandardError=inherit
Restart=always
User={username:}

[Install]
WantedBy=multi-user.target
