[Unit]
Description=sandbox
After=network.target

[Service]
ExecStart=/opt/sandbox/SandBox
WorkingDirectory=/opt/sandbox
StandardOutput=inherit
StandardError=inherit
Restart=always

[Install]
WantedBy=multi-user.target
